html, body {
    height: 100%;
}

.container {
    flex: 1 0 auto;
}

.sticky-footer {
    flex-shrink: 0;
}

body {
    background-image: url("images/background.png");
    background-repeat: repeat;
}
